{%extends '../base.html'%}
{% load static %} 
{% block title %}Изменить тег{% endblock %}

{%block content%}
{%if user.is_superuser%}
<section class="page-block">
    <div class="container"> 
        <h1 class="title mb-10">Изменить тег</h1>
    <form class="crud-form" method="post">
        {%csrf_token%}
        {{form}}
        <button class="action create">Изменить</button>
    </form>
    </div>
    </section>
    {%else%}
    {%include './alert.html'%}
    {%endif%}
{%endblock%}