{%extends '../base.html'%}
{% load static %} 
{% block title %}Удалить тег{% endblock %}

{%block content%}
{%if user.is_superuser%}
<section class="page-block"> 
    <div class="container"> 
        <h1 class="title mb-30">Удалить тег</h1> 
        <p class="help-text w-600 w-60">Вы подтверждаете удаление тега “{{tag.name}}”? После удаления данные невозможно будет восстановить</p> 
        <form class="crud-form" method="post" > 
            {%csrf_token%}
            <button class="action delete">Да</button> 
            <a href="{%url 'admin_tags_list'%}" class="action create">Отмена</a> 
        </form> 
    </div> 
</section> 
{%else%}
{%include './alert.html'%}
{%endif%}
{%endblock%}